header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5%;
  background-color: #455463;
  color: #fff;
}

/* Change font size of headings */
h1 {
  font-size: 200%;
  background-color: #00eeee;
  color: #455463;
  padding: 0px 40px;
  margin: 0px;
}

/* Change the margin */
article h2 {
  /* margin: 2%;
  font-size: 150%;
  text-align: right;
  width: 30%; */
  width: 20%;
    border-right: 3px solid orange;
    /* margin-right: 10px; */
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  position: absolute;
  top: 22rem;
  right: 1rem;
  list-style-type: none;
  margin: 0px;
}

nav a {
  color: #00eeee;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}



/* section {
  flex: 1 1 0;
  flex-direction: row;
  padding-left: 5%;
} */

img {
  display: block;
  flex-direction: row;
  width: 700px;
  width: 80%;
  margin-left: 2rem;
}

/* article p {
  margin: 2% 0;
  font-size: 110%;
  border-left:  2px solid #d8a47f;
  padding-left: 20px;
} */

/* Change the margin specifically */
/* article ul {
  margin-left: 5%;
  margin-bottom: 2%;
  font-size: 110%;
  list-style: circle;
} */
article p {
  width: 80%;
  margin-left: 2rem;
}

article ul {
  width: 80%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
}

  article {
    display: flex;
    flex-direction: row;
  }

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header,
  nav ul {
    flex-direction: column;
    text-align: center;
    position: static;
  }

  h1 {
    border-radius: 25px;
  }
  nav li {
    padding: 14px 20px;
  }

  section {
    padding-right: 0;
  }

}

#banner {
  background-image: url("./../images/Sega.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

#links {
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  position: sticky;
  bottom: 47rem;
  margin-left: 2rem;
  margin-top: 3rem;
  background-color: orange;
  padding: 5px 3px;
  width: 22%;

}

article #workdesk-section {
  width: 80%;
}